html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#bg {
  position: fixed;
  background-image: url("images/bg.png");
  opacity: .2;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

#content {
  flex: 1;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  position: relative;
  background-color: blue;
  height: 100px;
  width: 320px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2em;
  color: #FFFFFF;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#wisdom {
  flex-basis: 0;
  font-size: 1.5em;
  margin: 50px;
  padding: 10px;
  border: solid lightgray 1px;
}

footer {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
  margin-bottom: 20px;
}

/* Fake Instagram tile styles */

#insta-tile-wrapper {
  display: none;
}

#insta-tile {
  display: flex;
  background-color: #ffffff;
  height: 450px;
  width: 935px;
  border: 1px solid #eeeeef;
  margin: 50px 0px;
}

#black-filler {
  background-color: black;
  width: 600px;
  height: 450px;
}

#image {
  height: 100%
}

#insta-header {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
  margin-left: 20px;
  font-size: 10pt;
}

#quote-container {
  margin-left: 20px;
  width: 295px;
  height: 200px;
  overflow-y: scroll;
  padding: 5px 10px;
  font-size: 9pt;
  border-top: 1px solid #eeeeef;
  border-bottom: 1px solid #eeeeef;
}

#likes {
  font-size: 10pt;
}

#timestamp {
  font-size: 8pt;
  color: #989898;
}

#instabottom {
  margin: 0px 20px;
}

#login-and-icon {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  padding: 20px 0px;
  border-top: 1px solid #eeeeef;
}