body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  text-shadow:
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
}

body::after{
  content: "";
  background: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

#text-input-row {
  font-size: 2em;
}

select {
  text-align: center;
  text-align-last: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  position: relative;
  background-color: blue;
  height: 75px;
  width: 225px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1.8em;
  color: #FFFFFF;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#wisdom {
  flex-basis: 0;
  font-size: 1.5em;
  margin: 75px 50px 0px 50px;
  padding: 10px 10px 10px 10px;
  border: solid lightgray 1px;
}

#github-link {
  font-size: 1.5em;
  position: fixed;
  width: 100%;
  margin-bottom: 50px;
  bottom: 0;
}