html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

#bg {
  position: fixed;
  background-image: url("images/bg.png");
  opacity: .2;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.center-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input-row {
  font-size: 2em;
}

select {
  text-align: center;
  text-align-last: center;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  position: relative;
  background-color: blue;
  height: 75px;
  width: 225px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2em;
  color: #FFFFFF;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#wisdom {
  flex-basis: 0;
  font-size: 1.5em;
  margin: 50px;
  padding: 10px;
  border: solid lightgray 1px;
}

#content {
  flex: 1;
}

footer {
  font-size: 1.5em;
  height: 1.5em;
  width: 100%;
  margin-bottom: 20px;
}

/* Fake Instagram tile styles */

#insta-tile-wrapper {
  display: none;
}

#insta-tile {
  background-color: #ffffff;
  height: 600px;
  width: 950px;
  border: 1px solid lightgrey;
  margin: 100px 0px;
}

#black-filler {
  background-color: black;
  width: 600px;
  height: 600px;
}

#photo {
  width: 100%
}

#insta-header {
  padding: 20px 0px;
}

#quote-container {
  margin-left: 40px;
  width: 310px;
  height: 310px;
  overflow-y: scroll;
}

#quote-container > div {
  padding: 5px 0px;
  border-top: 1px solid lightgrey; 
}

#instabottom {
  margin-left: 40px;
  border-top: 1px solid lightgrey; 
}